.container {
  /* display: flex;
  flex-shrink: 1;
  flex-basis: 1; */
  /* position: relative; */
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 0;
    position: relative;
    /* transform: rotate(0deg);
    transition: 1s; */
    margin-bottom: 30px;

  }


@media(max-width: 600px)
{
  .container{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 5px;
  }

  .circle{
    width: 25px;
    height: 25px;
  }
}
  
  
  
  .text-content {
    width: 240px;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: auto;
    bottom: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-shrink: 1;
  }

  @media(max-width: 600px)
  {
    .text-content{
      width: 270px;
    }
   
  }
  
 
  .text-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.25;
 
  }
  @media(max-width:500px)
  {
    .text-content img{
      width: 80%;
      height: 80%;
    }
  }
  
  .wrapper {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }

  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    transition: transform 0ms;

  }

  
@media(max-width: 600px)
{
  

  .circle{
    width: 30px;
    height: 30px;
  }
}
  
  
  .circle#--active {
    border: 2px solid white;
    width: 100px;
    height: 100px;
  }


  @media(max-width:600px)
{
  

  .circle#--active{
    width: 60px;
    height: 60px;
  }
}
  
  .circle#--active img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .circle.blue {
    background-color: #35c5f3;
    top: -20px;
    right: calc(50% - 25px);
  }
 
    
  .circle.blue#--active {
    right: calc(50% - 50px);
    top: -50px;
  }

  @media(max-width: 600px)
  {
  
    .circle.blue{
      top: -15px;
      right: calc(50% - 15px);

    }
    .circle.blue#--active{
      right: calc(50% - 30px);
      top: -30px;
    }
  }
    
  
  .circle.red {
    background-color: #e20880;
    top: calc(50% - 25px);
    left: -20px;
  }
  
  .circle.red#--active {
    top: calc(50% - 50px);
    left: -50px;
    transform: rotate(-90deg);
  }

  @media(max-width: 600px)
  {
  
    .circle.red{
      background-color: #e20880;
    top: calc(50% - 18px);
    left: -15px;

    }
    .circle.red#--active{
      top: calc(50% - 35px);
      left: -35px;
      transform: rotate(-90deg);
    }
  }
    
  

  .circle.black {
    background-color: black;
    bottom: -20px;
    right: calc(50% - 25px);
  }
  
  .circle.black#--active {
    right: calc(50% - 50px);
    bottom: -50px;
    transform: rotate(180deg);
  }


  @media(max-width: 600px)
  {
  
    .circle.black{
      background-color: black;
      bottom: -13px;
      right: calc(50% - 15px);

    }
    .circle.black#--active{
      right: calc(50% - 40px);
    bottom: -30px;
    transform: rotate(180deg);
    }
  }
    
  
  


  
  
  .circle.purple {
    background-color: #674c9f;
    right: -20px;
    top: calc(50% - 25px);
  }
  .circle.purple#--active {
    right: -50px;
    top: calc(50% - 50px);
    transform: rotate(90deg);
  }


  @media(max-width: 600px)
  {
  
    .circle.purple{
      background-color: #674c9f;
      right: -10px;
      top: calc(50% - 18px);

    }
    .circle.purple#--active{
      right: -30px;
    top: calc(50% - 30px);
    transform: rotate(90deg);
    }
  }
    
  
  
  
  .textCont{
    color: white;
    text-align: center;
  }
  .textCont div{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  /* background-color: #674C9F; */
  