.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 44px;
  width: 44px;
  color: pink;
  margin: 0 0 1rem 0;
}


.featureCard {
  display: flex;
  /* margin: 1rem; */

  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  width: 100%;

  border: 2px solid #D9D9D9;
  border-radius: 24px;
  transition: 100ms ease-in-out;
}

.featureCard:hover {
  border: 2px solid #D53A94;
  transition: 100ms ease-in-out;
  filter: drop-shadow(2px 2px 16px rgba(51, 51, 51, 0.12));
  cursor: pointer;
}

.h1Custom {
  margin: 6rem 0 2rem;
}

.h2Custom {
  margin-bottom: 0 !important;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px; 
}

@media screen and (max-width: 996px) {
  .featureCard {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  color: #fff !important;
  font-size: 4rem;
}

.heroSubTitle {
  color: #fff !important;
  font-size: 1.5rem;
}

.ctaButton {
  color: #fff;
  background-color: #dd44b9;
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  font-size: 1.25rem;
  text-decoration: none;
  z-index: 1;
  transition: 100ms ease-in-out;
}

.ctaButton:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  transition: 200ms ease-in-out;
}

.ripple {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroSubTitle {
    font-size: 1rem;
  }

  .ctaButton {
    padding: 0.75rem 1rem;
    border-radius: 0.74rem;
  
    font-size: 0.75rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
