.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 48px;
  margin: 0 0 1rem 0;
}

.featureCard {
  display: flex;
  /* margin: 1rem; */

  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  width: 100%;

  border: 2px solid #D9D9D9;
  border-radius: 24px;
  transition: 100ms ease-in-out;
}

.featureCard:hover {
  border: 2px solid #D53A94;
  transition: 100ms ease-in-out;
  filter: drop-shadow(2px 2px 16px rgba(51, 51, 51, 0.12));
  cursor: pointer;
}

.h1Custom {
  margin: 6rem 0 2rem;
}

.h2Custom {
  margin-bottom: 0 !important;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px; 
}

@media screen and (max-width: 996px) {
  .featureCard {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
