.rec.rec-arrow:hover {
  border-radius: 90%;
  /* background-color: red; */
}

/* .rec.rec-arrow:disabled {
  visibility: hidden;
} */

.rec.rec-arrow {
  /* visibility: hidden; */

  background-color: none;
  size: 1rem;
}

.rec-carousel-item:focus {
}

.rec-arrow {
  position: static;
  outline: none;
  border: none;
  background-color: #f4f4f4 !important;
  color: gray !important;
  box-shadow: none !important;
  font-size: 1rem !important;
}
.rec-arrow:focus {
  outline: none;
  border: none;
  background-color: black !important;
  color: black !important;
}
.rec-arrow-active {
  outline: none;
  border: none;
  background-color: black !important;
  color: black !important;
}
.rec-dot-active {
  color: black !important;
  background-color: black !important;
}

.rec-dot {
  color: black !important;
  box-shadow: none !important;
  background-color: gray !important;
}
