.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 0px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 10px;
  overflow: 'hidden';
}

.App-inner {
  max-width: 680px;
  z-index: 1;
}

.App-footer {
  margin-top: 30px;
}

.App-link {
  margin: 10px;
  font-size: 36px;
  color: #000;
}

h1 {
  font-size: 26px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: 'Open Sans';
}

.App-bg {
  position: absolute;
  z-index: 0;
  bottom: -80px;
  opacity: 0.4;
}
