.accordionParent {
    margin: 1rem 0;
    padding: 0 0.5rem;
    border-bottom: 1px solid #D9D9D9;
}

.accordionTitle {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
